.l-kadry-payments{
    height: 100%;
    padding: 2rem;
    padding-top: 1rem;
    overflow-y: auto;
    main{
        .c-panel{
            align-items: center;
            display: flex;
            margin-bottom: 1rem;
            .left-wrapper{
                align-items: center;
                display: flex;
                margin-left: auto;
            }
            button{
                margin-left: auto
            }
        }
    }
    .c-kadry-payments-card{
        @include card;
        padding: 1.5rem;
    }
}