.c-badge{
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: #E64A19;
    border-radius: 11px;
    height: 21px;
    width: 21px;
    justify-content: center;
    color: #EFF0F7;
    font-size: 0.8rem;
}