// ---------------------------------------- Ubuntu -----------------------------------------

@font-face{
    src: url('@/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-family: "ubuntu-bold";
}

@font-face{
    src: url('@/assets/fonts/Ubuntu-Italic.ttf') format('truetype');
    font-family: "Ubuntu";
}

@font-face{
    src: url('@/assets/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-family: "ubuntu-bold-italic";
}

@font-face{
    src: url('@/assets/fonts/Ubuntu-Light.ttf') format('truetype');
    font-family: "Ubuntu";
}

@font-face{
    src: url('@/assets/fonts/Ubuntu-LightItalic.ttf') format('truetype');
    font-family: "Ubuntu";
}

@font-face{
    src: url('@/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-family: "ubuntu-medium";
}

@font-face{
    src: url('@/assets/fonts/Ubuntu-MediumItalic.ttf') format('truetype');
    font-family: "Ubuntu";
}

@font-face{
    src: url('@/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-family: "Ubuntu";
}

// -------------------------------------- TT-Hoves-Pro-Expanded -----------------------------------------

@font-face{
    src: url('@/assets/fonts/TT-Hoves-Pro-Expanded-Black.ttf') format('truetype');
    font-family: "tt";
}

@font-face{
    src: url('@/assets/fonts/TT-Hoves-Pro-Expanded-Medium.ttf') format('truetype');
    font-family: "tt-medium";
}

@font-face{
    src: url('@/assets/fonts/TT-Hoves-Pro-Expanded-Medium-Italic.ttf') format('truetype');
    font-family: "tt-italic";
}

@font-face{
    src: url('@/assets/fonts/TT-Hoves-Pro-Expanded-Bold.ttf') format('truetype');
    font-family: "tt-bold";
}

